---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=aZ32QVgP1TCgM6YKkFnIFYoe7DxGssd1&q=hotdogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"unv3VXnKGWxhe","slug":"absurdnoise-hotdogs-cute-absurdnoise-unv3VXnKGWxhe","url":"https:\/\/giphy.com\/gifs\/absurdnoise-hotdogs-cute-absurdnoise-unv3VXnKGWxhe","bitly_gif_url":"https:\/\/gph.is\/1496yMv","bitly_url":"https:\/\/gph.is\/1496yMv","embed_url":"https:\/\/giphy.com\/embed\/unv3VXnKGWxhe","username":"absurdnoise","source":"https:\/\/absurdnoise.com\/post\/23534186733\/hot-dog-eating-has-never-looked-so-seductive-or","rating":"pg-13","content_url":"","source_tld":"absurdnoise.com","source_post_url":"https:\/\/absurdnoise.com\/post\/23534186733\/hot-dog-eating-has-never-looked-so-seductive-or","is_sticker":0,"import_datetime":"2012-05-22
        07:55:08","trending_datetime":"1970-01-01 00:00:00","user":{"avatar_url":"https:\/\/media2.giphy.com\/avatars\/absurdnoise\/hWq740dhv6ly.gif","banner_url":"","profile_url":"https:\/\/giphy.com\/absurdnoise\/","username":"absurdnoise","display_name":"absurdnoise","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/200_s.gif","width":"200","height":"200"},"original_still":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy_s.gif","width":"300","height":"300"},"fixed_width":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/200w.gif","width":"200","height":"200","size":"231481","mp4":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/200w.mp4","mp4_size":"17305","webp":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/200w.webp","webp_size":"46350"},"fixed_height_small_still":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/100_s.gif","width":"100","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/200_d.gif","width":"200","height":"200","size":"142130","webp":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/200_d.webp","webp_size":"28450"},"preview":{"width":"300","height":"300","mp4":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy-preview.mp4","mp4_size":"43451"},"fixed_height_small":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/100.gif","width":"100","height":"100","size":"73699","mp4":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/100.mp4","mp4_size":"7435","webp":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/100.webp","webp_size":"19868"},"downsized_still":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy_s.gif","width":"300","height":"300"},"downsized":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy.gif","width":"300","height":"300","size":"421546"},"downsized_large":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy.gif","width":"300","height":"300","size":"421546"},"fixed_width_small_still":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/100w_s.gif","width":"100","height":"100"},"preview_webp":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy-preview.webp","width":"300","height":"300","size":"34440"},"fixed_width_still":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/200w_s.gif","width":"200","height":"200"},"fixed_width_small":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/100w.gif","width":"100","height":"100","size":"73699","mp4":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/100w.mp4","mp4_size":"7435","webp":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/100w.webp","webp_size":"19868"},"downsized_small":{"width":"300","height":"300","mp4":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy-downsized-small.mp4","mp4_size":"43451"},"fixed_width_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/200w_d.gif","width":"200","height":"200","size":"142130","webp":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/200w_d.webp","webp_size":"28450"},"downsized_medium":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy.gif","width":"300","height":"300","size":"421546"},"original":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy.gif","width":"300","height":"300","size":"421546","frames":"11","mp4":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy.mp4","mp4_size":"70068","webp":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy.webp","webp_size":"79858"},"fixed_height":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/200.gif","width":"200","height":"200","size":"231481","mp4":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/200.mp4","mp4_size":"17305","webp":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/200.webp","webp_size":"46350"},"looping":{"mp4":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy-loop.mp4","mp4_size":"668422"},"original_mp4":{"width":"480","height":"480","mp4":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy.mp4","mp4_size":"70068"},"preview_gif":{"url":"https:\/\/media2.giphy.com\/media\/unv3VXnKGWxhe\/giphy-preview.gif","width":"126","height":"126","size":"48535"},"480w_still":{"url":"https:\/\/media0.giphy.com\/media\/unv3VXnKGWxhe\/480w_s.jpg","width":"480","height":"480"}},"title":"makes
        me want to vomit dan aykroyd GIF by absurdnoise","_score":2500015,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c2f8747656e5147492edeae&event_type=GIF_SEARCH&gif_id=unv3VXnKGWxhe&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c2f8747656e5147492edeae&event_type=GIF_SEARCH&gif_id=unv3VXnKGWxhe&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c2f8747656e5147492edeae&event_type=GIF_SEARCH&gif_id=unv3VXnKGWxhe&action_type=SENT"}}},{"type":"gif","id":"SYGkVEBAhm0g0","slug":"girl-finger-SYGkVEBAhm0g0","url":"https:\/\/giphy.com\/gifs\/girl-finger-SYGkVEBAhm0g0","bitly_gif_url":"https:\/\/gph.is\/QDihlO","bitly_url":"https:\/\/gph.is\/QDihlO","embed_url":"https:\/\/giphy.com\/embed\/SYGkVEBAhm0g0","username":"","source":"https:\/\/www.reddit.com\/r\/gifs\/comments\[...]
